{% extends "base.html" %} {% block title %}Change Password{% endblock %} {%
block content %}

<link rel="stylesheet" href="../static/change.css" />
<h2>Change Password</h2>
<form action="{{ url_for('views.process_password_change') }}" method="post">
  <p>
    <label for="current_password">Current Password:</label>
    <input type="password" name="current_password" required />
  </p>

  <p>
    <label for="new_password">New Password:</label>
    <input type="password" name="new_password" required />
  </p>
  <p>
    <label for="confirm_password">Confirm New Password:</label>
    <input type="password" name="confirm_password" required />
  </p>
  <input type="submit" value="Change Password" />
</form>
{% endblock %}
